<div class="header">
  <nav class="navbar navbar-expand-lg shadow-brown">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold text-brown">
        <i class="bi bi-cup-hot-fill me-2"></i>
        Echos du Jasmin
      </a>
<ul class="navbar-nav ms-auto">
 <li class="nav-item">
          <a routerLink="/planDuSite" routerLinkActive="active" class="nav-link text-brown">Plan du site</a>
        </li>
        <li class="nav-item">
          <a routerLink="/ajouter-cafer" routerLinkActive="active" class="nav-link text-brown">Ajouter un café</a>
        </li>
</ul>
</div>
</nav>
</div>

<div class="container mt-5"><h2>Formulaire d'ajout de cafe:
</h2>
<form [formGroup]="ajoutCafeForm"  class="p-4 border rounded bg-light" (ngSubmit)="onsubmit() " >
  <div class="mb-3">
    <label for="nom" class="form-label">Nom du cafe:</label>
    <input type="text" id="nom" class="form-control" formControlName="nom">
    @if (nom?.invalid && nom?.touched) {
      <div class="alert alert-danger">Le nom n'est pas valide</div> <br>
    }
    <label for="localisation" class="form-label">Gouvernorat:</label><br>
     <select name="localisation" formControlName="localisation">
    @for (g of gouvernerats; track $index) {<option [value]="g">{{g}}</option>

    }</select><br>

       <label for="dateCreation" class="form-label">Date de creation:</label>
       <input type="date" id="dateCreation" class="form-control" formControlName="dateCreation">
       @if (dateCreation?.invalid && nom?.touched) {
      <div class="alert alert-danger">La date de création est invalide</div>
    } <br>
        <label for="specialite" class="form-label">Spécialité du café:</label>
    <input type="text" id="specialite" class="form-control" formControlName="specialite">
    @if (specialite?.invalid && nom?.touched) {
      <div class="alert alert-danger">La spécialité n'est pas valide</div>
    } <br>
     <label for="budget" class="form-label">budget (DT):</label> <br>
    <input type="number" id="budget" class="form-control" formControlName="budget">
    @if (budget?.invalid && nom?.touched) {
      <div class="alert alert-danger">Le budget n'est pas valide</div>
    }
<br>
<button class="btn btn-primary" type="submit" [disabled]="ajoutCafeForm.invalid">Ajouter</button>

  </div>
</form>

